* {

    padding: 0;
    margin: 0;

}


body {

    color: white;

}

#encabezado {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #BADA55;
    background-color:  #B58A69;

}

#menu {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;

}

#contenedor {

    width: 900px;
    height: 1200px;
    margin: 0 auto;


}

#contenido {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #DEE5DE;
    font-size: 20px;
    color: black;
    justify-content: center;
    text-align: justify;
    padding: 30px;

}

#fueraSeccion {

    text-align: center;
    background-color: #D7D7CB;
    color: black;
    font-size: 40px;

}

.img {

    width: 200px;
    justify-items: center;

}

ul {

    padding: 15px;
    font-size: 20px;

}

a {

    text-decoration: none;
    
}

li {

    display: inline;
    padding: 10px 30px;
    margin: 1em;

}

/* Selector de evento */

li a:hover {

    color: red;
    text-decoration: none;
    list-style: none;

}

h1 {
    text-align: center;
}

header img {
    gap: 10px;
}

#contenido picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}


#pie {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5E5E4A;
    color: #E8E6E6;
    text-align: center;
    padding: 5px;

}
